profiles {
    slurm {
        executor {
            name = 'slurm'
            queueSize = 5
        }

        // Enable Wave for container management
        wave {
            enabled = true
            strategy = ['conda']
            freeze = true  // This is important for reproducibility
        }

        // Enable conda
        conda {
            enabled = true
            channels = ['conda-forge', 'bioconda', 'defaults']
            useMamba = false  // Use mamba for faster environment resolution
        }

        // Default parameters
        params {
            input = "data/samples.tsv"
            outdir = "results"
            max_cpus = 8
            max_memory = '32.GB'
            max_time = '24.h'

            blast_max_target_seqs = 5
            blast_percid = 80

            input_seq_length = 1000

            model_max_length = 250
            num_hits_norm = 496

        }

        // Process defaults
        process {
            
            shell = ['/bin/bash', '-euo', 'pipefail']

            // Resource labels
            withLabel: process_cpu_low {
                cpus = 40
                memory = 150.GB
                time = 1.h
                maxForks = 3
                clusterOptions = { "--partition=long-40core --output=res.txt" }
            }
            withLabel: process_a100 {
                memory = 250.GB
                time = 1.h
                maxForks = 2
                clusterOptions = { "--partition=a100 --gres=gpu:1 --output=res.txt" }
            }
            withLabel: process_cpu_high {
                cpus = 96
                memory = 250.GB
                time = 2.h
                maxForks = 3
                clusterOptions = { "--partition=hbm-long-96core --output=res.txt" }
            }

        }

        // Capture execution reports
        timeline {
            enabled = true
            file = "${params.outdir}/pipeline_info/execution_timeline.html"
        }
        report {
            enabled = true
            file = "${params.outdir}/pipeline_info/execution_report.html"
        }
        trace {
            enabled = true
            file = "${params.outdir}/pipeline_info/execution_trace.txt"
        }
        dag {
            enabled = true
            file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
        }
    }
}